@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Stas Fainberg</h1>
    <h3>C# מבחן למועמד עבור משרת מפתח</h3>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>About it</h2>
        <p>
            This web application project is a solution which i built
            as part of my admissions test for a developer position at <a href="https://www.cardcom.co.il/" target="_blank">CardCom Ltd</a> company.
            <br />
            It demonstrates my knowledge in:
            <br />
            .NET | ASP.NET Core | C# | Entity Framework | MVC | Lambda Expression |
            HTML | CSS | JavaScript | Bootstrap | jQuery.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it</h2>
        <p>
            I built this application from scratch based on my programming skills. I'm a motivated developer
            who is looking for a full-time position to fulfill my development passion.
            I am responsible, organized and dedicated team player with great communication skills.
            I have excellent documentation skills and creativity.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Try it</h2>
        <p>
            You can try and test this web application.
            Just press on the Users button and start playing with it.
            This web application gives you the ability to manage users and their personal information
            like email address, phone number and etcetera.
            You can add, modify, delete and update the information according to your needs.
        </p>
    </div>
</div>